html, body {
  height: 100%;
  background-color: #D6C09E;
}

p{
  font-size: 14px;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.75rem;
  width: 100px;
}

h3{
  font-size: 1.25rem;
}

h4 {
  font-size: 1.15rem;
}

img {
  max-width: 100%;
  height: auto;
}

.presentation{
  background-color: #BE9A64;
  border-radius: 7%;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.presentation_img{
  margin-top: 110px;
  margin-right: 5%;
  margin-bottom: 20px;
  width: 90%;
  float: right;
}

.presentation h1{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.presentation p{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: justify;
}

article {
  margin-bottom: 2.25rem;
}

#menuToggle {
  display: block;
  position: relative;
  width: 350px;
  top: -57px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: #090909;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  position: absolute;
  overflow-x: hidden;;
  width: 60%;
  height: 3360%;
  margin: -134px 0 0 -43px;
  padding: 54px;
  padding-top: 170px;
  background: #9ED6A4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 15px 0;
  font-size: 17px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.etablissement
{
  width: 100%;
  height: 60px;
  transform: translate(25%, 125%);
}

header {
  background-color: #9ED6A4;
  margin: -20px -0.5rem 12px -10px;
  padding-top: 10px;
  padding-right: 100%;
  position: fixed;
  z-index: 1;
}

header img {
  position: relative;
  top: 0.25rem;
  width: 2.75rem;
  padding-left: 20.5rem;
}

header h2 {
  position: relative;
  top: -0.5rem;
  left: 8.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

header h2 a {
  text-decoration: none;
  color: #000000;
}

footer{
  background-color: #9ED6A4;
  margin: 0 -0.5rem 0 -10px;
  padding-top: 5px;
  padding-bottom: 15px;
}

footer ul {
  list-style-type: none;
  padding: 0 0 0 1.25rem;
  margin: 0;
}

footer li {
  margin: 13px 0 0 0;
  font-size: 17px;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer li.mailto a {
  color: #1717a7;
  text-decoration: underline;
}

footer li.social{
  margin-top: 30px;
}

footer li.reseaux { 
  display: inline-block;
  margin: 10px 5px 0.75rem 0;
}

footer li.reseaux img {
  width: 75%;
}

footer p {
  margin-left: 1.25rem;
}

footer p a {
  color: #1717a7;
  text-decoration: underline;
}

.mentionlegal{
  font-size: 10px;
  width: 70%;
}

.logo_montbeliard {
  width: 35px;
  transform: translate(-160px, -35px);
}

/* Article CSS */

.pagearticle p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pagearticle li {
  margin-left: 12%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pagearticle li+p {
  margin-top: 10px;
  margin-bottom: 25px;
}

.intro img{
  margin-top: 110px;
  margin-right: 5%;
  margin-bottom: 20px;
  width: 90%;
  float: right;
}

.intro h1{
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.titrearticle {
  width: 94%;
  height: 35px;
  margin-top: 20px;
  margin-left: 7px;
  border-radius: 100px;
  background-color: #BE9A64;
  border: 3px solid black;
}

.titrearticle h3{
  margin-top: 6px;
  text-align: center;
}

.titrearticlespecial {
  width: 94%;
  height: 35px;
  margin-top: 30px;
  margin-left: 7px;
  border-radius: 5px;
  background-color: #BE9A64;
  border: 3px solid black;
}

.titrearticlespecial h4{
  margin-top: 6px;
  text-align: center;
}

.listeimg {
  margin-top: 20px;
}

.arrow {
  width: 70%;
  margin-left: 15%;
  margin-top: -15px;
  text-align: center;
}

.arrow1 {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

p.filmographie {
  font-size: 1.15rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}